<!-- <div class="autoplay">
	<img src="images/carousel1.jpg" alt="">
	<img src="images/carousel2.jpg" alt="">
	<img src="images/carousel3.jpg" alt="">
	<img src="images/carousel4.jpg" alt="">
</div> -->

<div class="autoplay">
	<div class='relative'>
		<img src="images/carousel4.jpg" alt="">
	</div>
	<div>
		<img src="images/carousel2.jpg" alt="">
	</div>
	<div>
		<img src="images/carousel3.jpg" alt="">
	</div>
	<div>
		<img src="images/carousel1.jpg" alt="">
	</div>
</div>






<!-- <div class="home container">
	<div class="row">
		<div class="col-md-2"></div>
		
		<div class="col-md-8">
			<div id="recipe-carousel" class="carousel slide" data-ride="carousel">
				
				<ol class="carousel-indicators">
					<li data-target="#recipe-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#recipe-carousel" data-slide-to="1"></li>
					<li data-target="#recipe-carousel" data-slide-to="2"></li>
					<li data-target="#recipe-carousel" data-slide-to="3"></li>
				</ol>

			 
			  <div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="images/carousel1.jpg" alt="Food Picture">
				</div>
				<div class="item">
					<img src="images/carousel2.jpg" alt="Food Picture">
				</div>
				<div class="item">
					<img src="images/carousel3.jpg" alt="Food Picture">
				</div>
				<div class="item">
					<img src="images/carousel4.jpg" alt="Food Picture">
				</div>
			  </div>

			
				<a class="left carousel-control" data-target="#recipe-carousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" data-target="#recipe-carousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div> 
		<div class="col-md-2"></div>
	</div> 
</div> -->
