<div class="container">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div class="popular-recipes">	
				<h2 class="center-text">Popular Recipes</h2>
				<ul class="media-list">
					<li class="media">
						<a href="#/recipes/4">
							<div class="media-left">
								<img class="media-object" src="images/recipe-thumbnails/chicken-scampi.jpg" alt="...">
							</div>
							<div class="media-body">
								<h4 class="media-heading">Chicken Scampi</h4>
								A delicious Chicken Scampi that is very easy to make.  You won't be disappointed with this one!
							</div>
						</a>
					</li>
					<li class="media">
						<a href="#/recipes/1">
							<div class="media-left">
								<img class="media-object" src="images/recipe-thumbnails/potatoes-surpeme.jpg" alt="...">
							</div>
							<div class="media-body">
								<h4 class="media-heading">Potatoes Supreme</h4>
								Potatoes and cheese, what more could you ask for.  A delicious recipe that will be sure to satisfy everyone.
							</div>
						</a>
					</li>
					<li class="media">	
						<a href="#/recipes/3">
							<div class="media-left">
								<img class="media-object" src="images/recipe-thumbnails/beer-bread.jpg" alt="...">
							</div>
							<div class="media-body">
								<h4 class="media-heading">Beer Bread</h4>
								So little work, for so much reward.  This is one of the easiest recipes to put together, but it doesn't sacrifice on taste.  A very simple and very tasty bread.  Watch out though, the ends disappear before this bread has cooled down.
							</div>
						</a>
					</li>
					<li class="media">	
						<a href="#/recipes/18">
							<div class="media-left">
								<img class="media-object" src="images/recipe-thumbnails/all-day-beef-stew.jpg" alt="...">
							</div>
							<div class="media-body">
								<h4 class="media-heading">All-Day Beef Stew</h4>
								Fantastic stew that you won't be able to get enough of.  It's suprisingly easy to put together and you can't beat the smell this stew will create in your house.  A wonderfully tasty recipe.
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-3"></div>
	</div> <!-- end row -->
</div>
	





