<div class="container">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div class="popular-recipes">	
				<h2 class="center-text">Popular Recipes</h2>
				<ul class="media-list">
					<li class="media">
						<div class="media-left">
							<a href="#">
							<img class="media-object" src="images/beefThumbnail.jpg" alt="...">
						</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Spinach Salad</h4>
							This is some tasty shit.
						</div>
					</li>
					<li class="media">
						<div class="media-left">
							<a href="#">
							<img class="media-object" src="images/beefThumbnail.jpg" alt="...">
						</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Taco Supreme</h4>
							This is some even tastier shit.
						</div>
					</li>
					<li class="media">
						<div class="media-left">
							<a href="#">
							<img class="media-object" src="images/beefThumbnail.jpg" alt="...">
						</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Taco Supreme</h4>
							This is some even tastier shit.
						</div>
					</li>
					<li class="media">
						<div class="media-left">
							<a href="#">
							<img class="media-object" src="images/beefThumbnail.jpg" alt="...">
						</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Taco Supreme</h4>
							This is some even tastier shit.
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-3"></div>
	</div> <!-- end row -->
</div>
	





